.tout {
    background-color: #070d19;
    color: #e6e6e6;
    min-height: 100vh;
    position: relative;
}

/* Page - Login*/
.formlog {
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 20px;
    background-color: #0f1531;
    border-radius: 5px;
    width: 320px;
}

.formulaire {
    padding: 10px;
}

input[type=email], input[type=password] {
    border: none;
    background-color: #0f1531 ;
    border-bottom: 2px solid #4e5bf2;
}

input[type=email]:focus, input[type=password]:focus {
    border: none;
    background-color: #0c122e ;
    border-bottom: 2px solid #4e5bf2;
    box-shadow: 0 1px 2px #070d19 inset;    
}

.ikon {
    font-size: 50px;
    margin: 0 auto;
    width: 50px;
}

    /*bouton connecter*/
        .connect {
            list-style-type: none;
            margin: 0 0 5px 0;
            padding: 0;
        }
        .connect li a {
            display: block;
            background-color: #3700b3;
            color: #d9d9d9;
            border-radius: 5px;
            width: 125px;
            text-decoration: none;
            padding: 5px;
            text-align: center;
            font-weight:600;
            font-size: 16px;
        }
        .connect li a:hover:not(.active) {
            background-color: #2e0099;
            color: #e6e6e6;
        }
        .formlog a {
            color: #f36;
            font-size: 14px;
        }
        .formlog a:hover {
            text-decoration: none;
            color: #ff1a53;
        }
        
        /* Navigation Bar*/
        
    .headnav {
        background-color: #0f1531;
        font-size: 18px;
        font-weight: 600;
    }        
    .headnav a {
        color: #999;
    }
    .headnav a:hover {
        color: #727cf5;
    }
    .headnav a.active {
        color: #e6e6e6;
    }
    
    a.logo {
        font-family: Rockwell, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        text-decoration: none;
        color: #08d9c4;
    }
    a.logo:hover {
        font-family: Rockwell, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        text-decoration: none;
        color: #08d9c4; 
    }

    i.ikonop {
        font-size: 20px;
    }
/* Page - Gestion des articles*/

    /*Side Navigation*/
    
    .sidenavi {
        background-color: #0f1531;
        border: 1px solid #070d19;
        max-width: 225px;
    }
    
    .sidenavi p {
        padding: 5px 5px 5px 15px;
        color: #999;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 0;
    }

    .barnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .barnav li a {
        display: block;
        color: #e6e6e6;
        text-decoration: none;
        padding: 5px 5px 5px 25px;
        text-align: left;
        font-weight:600;
        font-size: 14.5px;
    }

    .barnav li a:hover:not(.active) {
        color: #727cf5;
    }

    .barnav li a.active {
        background-color: #12193b;
        color: #4e5bf2;
        font-weight: 600;
    }

    /*Insertion*/

    input[type="text"], input[type="number"], input[type="date"] {
        background-color: #070d19;
        border: 1px solid #999;
        max-width: 400px;
        color: #ccc;
    }
    
    input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus {
        background-color: #060a14;
        border: none;
        color: #ccc;
    }
    .formbouton {
        background-color: #3700b3;
        color: #ccc;
        font-weight: 600;
    }
    .formbouton:hover {
        background-color: #260080;
        color: #ccc;
    }

    .entete h2 {
        font-size: 25px;
        padding: 15px 0 5px 0;
        border-bottom: 2px solid #e6e6e6;
    }

    /*Tableau*/

    .tableau {
        background-color: #12193b;
    }
    .tableau th, .tableau td {
        color: #d9d9d9;
        border-top: none;
        border-bottom: 1px solid #999;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5px;
        text-align: center;
        background-color: #0b1528;
    }

    .footer p {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 14px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }